  <nav id="navbar" class="navbar navbar-light bg-light d-flex justify-content-between">
    <div>
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link active" href="#">PasswordKeepR</a>
        </li>
      </ul>
    </div>
  </nav>
