  <nav id="sidebar" class="navbar navbar-expand-md navbar-dark bg-dark" style="height: 100vh;">
    <button id="navbar-toggler" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidebar-container" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="sidebar-container">
      <ul id="category-container" class="navbar-nav mr-auto d-flex flex-column">
        <li>
          <a href="/passwords/new"><button id="add-password" type="button" onclick="this.blur()" class="btn btn-outline-success btn-sm btn-block"><i class="fas fa-plus"></i> Add password</button></a>
        </li>
      </ul>
    </div>
  </nav>
