<%- include("partials/_basic_html_setup.ejs") %>
<!-- <link rel="stylesheet" href="/styles/generic_view.css" type="text/css" /> -->
<link rel="stylesheet" href="/styles/signIn_signUp.css">
<link rel="stylesheet" href="/styles/sidebar.css" type="text/css">
<link rel="stylesheet" href="/styles/createPassword.css" type="text/css">
</head>

<body>
<%- include("partials/_header.ejs") %>

<div class="d-flex justify-content-between">
  <%- include("partials/_sidebar.ejs") %>

  <div class="sign-inUp container mt-3">
    <form action="/passwords/new" method="post" class="container-fluid d-flex flex-column">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Category</span>
        </div>
        <select required class="form-control form-control" name="category">
          <option value="" selected disabled>Choose ...</option>
<<<<<<< HEAD
          <option>uncategorized</option>
          <option>social</option>
          <option>entertainment</option>
          <option>work</option>
=======
          <option>Work</option>
          <option>Entertainment</option>
          <option>Social</option>
          <option>Other</option>
>>>>>>> 5611558b965423b490e01f70f582ebff6de15076
        </select>
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default">Website URL</span>
        </div>
        <input name="website_url" required type="url" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="What is the domain of this app?">
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default">Username</span>
        </div>
        <input name="username" required type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="What is your username for this app?">
      </div>

      <div class="input-group input-group-sm mb-3" style="padding: 0;">
        <div class="form-group mx-auto">
          <div class="form-check form-check-inline col-auto">
            <label class="form-check-label" for="inlineCheckbox1">Uppercase: </label>
<<<<<<< HEAD
            <input name="uppercase" class="form-check-input" type="checkbox" id="inlineCheckbox1" value="true">
=======
            <input name="Uppercase" class="form-check-input" type="checkbox" id="inlineCheckbox1" value="true">
>>>>>>> 5611558b965423b490e01f70f582ebff6de15076
          </div>
          <div class="form-check form-check-inline col-auto">
            <label class="form-check-label" for="inlineCheckbox2">Special characters:</label>
            <input name="spChar" class="form-check-input" type="checkbox" id="inlineCheckbox2" value="true">
          </div>
          <div class="form-check form-check-inline col-auto">
            <label class="form-check-label" for="inlineCheckbox3">Numbers:</label>
            <input name="numbers" class="form-check-input" type="checkbox" id="inlineCheckbox3" value="true">
          </div>
        </div>
        <div class="form-check form-check-inline col-auto">
          <label class="form-check-label" for="inlineInput1">Length:</label>
          <input name="length" required class="form-control" type="number" id="inlineInput1" value="">
        </div>
      </div>


      <div class="mx-auto">
        <button type="submit" class="btn btn-primary mb-2">Generate Password</button>
      </div>
    </form>
  </div>

  <div></div>

</div>

<%- include("partials/_footer_scripts.ejs") %>
</body>
</html>
