<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <link rel="stylesheet" href="../public/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="../public/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="../public/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="../public/styles/generic_view.css" type="text/css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
    integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />

  <script type="text/javascript" src="../public/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="../public/scripts/app.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>

<body>
  <main class="">
    <form class="container-fluid d-flex flex-column">


      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Category</span>
        </div>
        <select class="form-control form-control">
          <option selected>Category1</option>
          <option>Category2</option>
          <option>Category3</option>
          <option>Category4</option>
          <option>Category5</option>
        </select>
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Site</span>
        </div>
        <input type="text" class="form-control" readonly>
        <div class="input-group-append">
          <button type="button" class="btn btn-secondary"><i class="fas fa-clipboard"></i></button>
        </div>
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Username</span>
        </div>
        <input type="text" class="form-control" readonly>
        <div class="input-group-append">
          <button type="button" class="btn btn-secondary"><i class="fas fa-clipboard"></i></button>
        </div>
      </div>
      <div class="form-group mx-auto">
        <div class="form-check form-check-inline col-auto">
          <label class="form-check-label" for="inlineCheckbox1">Uppercase: </label>
          <input class="form-check-input ml-2" type="checkbox" id="inlineCheckbox1" value="option1">
        </div>
        <div class="form-check form-check-inline col-auto">
          <label class="form-check-label" for="inlineCheckbox2">Special characters:</label>
          <input class="form-check-input ml-2" type="checkbox" id="inlineCheckbox2" value="option2">
        </div>
        <div class="form-check form-check-inline col-auto">
          <label class="form-check-label" for="inlineCheckbox3">Numbers:</label>
          <input class="form-check-input ml-2" type="checkbox" id="inlineCheckbox3" value="option3">
        </div>
        <div class="form-check form-check-inline col-auto">
          <label class="form-check-label" for="inlineInput1">Max:</label>
          <input class="form-control form-control-sm ml-2" type="text" id="inlineInput1" maxlength="3" value="">
        </div>
      </div>
      <div class="mx-auto">
        <button type="submit" class="btn btn-primary mb-2">Save Password</button>
      </div>
    </form>
  </main>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
</body>

</html>
