  <%- include("partials/_basic_html_setup.ejs") %>
</head>

  <body>
    <%- include("partials/_sidebar-header.ejs") %>
    <h1>Hello World!</h1>
    <%- include("partials/_footer_scripts.ejs") %>
  </body>
</html>
