<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <link rel="stylesheet" href="../public/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="../public/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="../public/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="../public/styles/generic_view.css" type="text/css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
    integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />

  <script type="text/javascript" src="../public/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="../public/scripts/app.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>

<body>
  <main class="">
    <form class="container-fluid d-flex flex-column">
      <h1 class="mx-auto">Facebook</h1>
      <img class="mx-auto">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Username</span>
        </div>
        <input type="text" class="form-control" readonly>
        <div class="input-group-append">
          <button type="button" class="btn btn-secondary"><i class="fas fa-clipboard"></i></button>
        </div>
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Password</span>
        </div>
        <input type="text" class="form-control" readonly>
        <div class="input-group-append">
          <button type="button" class="btn btn-secondary"><i class="fas fa-clipboard"></i></button>
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <div class="mx-3">
          <button type="submit" class="btn btn-primary mb-2">Reset</button>
        </div>
        <div class="mx-3">
          <button type="submit" class="btn btn-primary mb-2">Delete</button>
        </div>
      </div>

      <div class="mb-3 mx-auto">
        <span>Last update: [date]</span>
      </div>
      <div class="mb-3 mx-auto">
        <span>Breached: [true/false]</span>
      </div>
    </form>
  </main>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
</body>

</html>
