
#header {
  width: 100%;
  height: 4em;
  background-color: blue;
}

.active {
  background-color: orange;
}

#sidebar {
  display: flex;
  justify-content: stretch;
  background-color: orchid;
}

#sidebar div {
  width: 100%;
  height: 25px;
}

#sidebar a {
  padding-left: 0.7em;
  padding-right: 0.7em;
  text-decoration: none;
  color: black;
}

.hide {
  display: none;
}

.carousel {
  text-align: center;
}
