.sign-inUp {
  width: 75%;
  padding: 5%;
  background-color: beige;
  border-radius: 15px;
  border: solid #353a40 5px;
  margin: 0;
}

#login {
  background-color: #6db5de;
  border-color: #6db5de;
}

.register {
  background-color: #6db5de;
}

#register {
  background-color: #ff8e5a;
  border-color: #ff8e5a;
}

.sign-inUp h1 {
  text-align: center;
  color: #353a40;
}

.login {
  background-color: #ff8e5a;
}

h4 {
  margin: 2rem 0rem 1rem;
}

td, th {
  vertical-align: middle;
}
